# ==============================================================================
# GRADIA FRONTEND (VITE) - ENVIRONMENT VARIABLES
# ==============================================================================

# URL Backend (FastAPI)
VITE_API_URL=http://localhost:8000/api/v1

# GOOGLE CLIENT ID untuk Login SSO Mahasiswa/Admin
VITE_GOOGLE_CLIENT_ID=ISI_DENGAN_GOOGLE_CLIENT_ID_ANDA.apps.googleusercontent.com

# --- SENTRY (OBSERVABILITY) ---
VITE_SENTRY_DSN=ISI_DENGAN_SENTRY_DSN_ANDA
