# Python / FastAPI
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
venv/
ENV/
env/
.pytest_cache/
alembic.ini

# Node / React
node_modules/
dist/
build/
.npm/

# Kredensial & Secrets
.env
.env.prod
.env.local
*.pem
*.key
gradia_credentials.json

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS / Misc
.DS_Store
Thumbs.db
Caddyfile
deploy_gcp.bat
setup_vps.sh
docker-compose*.yml
.agents/
